.dashPrincipal {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 60px 40px; 
    overflow: auto; 
    box-sizing:border-box; 
    flex:1;
}
.rec {
    height: auto;
    min-height: 350px;
    max-height: 600px;
    width: auto;
    max-width: 800px;
    min-width: 400px;
    flex: 1 1 calc(50% - 60px);
    box-sizing: border-box; 
    background-color: #f0f0f0; 
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px; 
    display: flex;
    flex-direction: column;
}

.tittleTask {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    justify-content: left;
    width: 90%;
}

.dashTaskHeader{
    display:flex; 
    flex-direction: row;
    margin-bottom: 30px;
}

.numTask{
    font-size: 20px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000000;
}
.dashTaskBody{
    display:flex; 
    box-sizing: border-box;
}

.textTask{
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    box-sizing: border-box;
    color: #000000;
    text-align:justify;
}
.footerCard {
    flex:1; 
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 20px;
}

.newTask {
    background: rgba(255, 178, 178, 100);
    border: 3px solid rgba(254, 112, 112, 100);
}

.pendingTask {
    background: rgba(107, 219, 251, 100);
    border: 3px solid rgba(40, 127, 152, 100);
}

.progressTask {
    background: rgba(119, 212, 232, 100);
    border: 3px solid rgba(50, 169, 195, 100);
}

.finishTask {
    background: rgba(255, 220, 178, 100);
    border: 3px solid rgba(213, 166, 109, 100);
}

.cantTask{
    width: 130px;
    height: 40px;
    z-index: 40;
    border-radius: 0 0 0 0;
}

.cantTaskNew{
    background: #fe7c7c;
}

.cantTaskPending{
    background: #4fa9da;
}

.cantTaskProgress{
    background: #32a8c3;
}

.cantTaskFinish{
    background: #D5A66D;
}

.btnEnter {
    color: #000000;
    border:none; 
    height:40px;
    width: 130px;
    cursor: pointer; 
}

.textCard{
    width: 100%;
    height: 180px;
    z-index: 40;
    border-radius: 0 0 0 0;
    box-sizing: border-box;
}

.textCardNew, .hoverNew:hover{
    background: #ec8c8c8a;
}

.textCardPending, .hoverPending:hover{
    background: #4fa9da66;
}

.textCardProgress, .hoverProgress:hover{
    background: #32a8c366;
}

.textCardFinish, .hoverFinish:hover{
    background: #d5a66d62;
}